{% extends 'base.html' %}

{% block content %}
{% include 'components/_nav.html' %}

<main class="container">
    <div class="posts-wrapper">
        {% for post in my_posts %}
            <div class="post-card">
                <h2>{{ post.title }}</h2>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="">
                {% endif %}
                <p>
                    {{ post.body }}
                </p>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}